<a href="https://colab.research.google.com/github/Rohitkumar-88/ML_Projects/blob/main/Data_Structure_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Brute for approach of quadratic time complexity O(n^2)
def find_duplicate_number(arr):
    n = len(arr)
    for i in range(0, n):
      duplicate = arr[i]
      for j in range(i+1, n):
        if duplicate == arr[j]:
          return duplicate

In [117]:
# Approach using hashmap with o(n) time complexity
def find_duplicate(arr):
    dic = dict()
    for element in arr:
        if element in dic:
            dic[element] += 1
        else:
            dic[element] = 0

    arr = sorted(dic, key=dic.get, reverse=True)[:1]
    return arr[0]

In [119]:
#arr = [1, 2, 1, 3, 4]
arr = [0, 7, 2, 5, 4, 4, 6, 1, 3]
#find_duplicate_number(arr)
find_duplicate(arr)

4

In [2]:
import sys
INT_MIN = -sys.maxsize - 1
max_sum = INT_MIN
print(max_sum)

-9223372036854775808

In [4]:
## Given an array of integers of size ‘n’, Our aim is to calculate the maximum sum of ‘k’ consecutive elements in the array.

import sys
INT_MIN = -sys.maxsize -1

def max_sum(arr, n , k):

  max_seq_sum = INT_MIN

  for i in range(n-k+1):
    current_sum = 0
    for j in range(k):
      current_sum = current_sum + arr[i+j]

  max_seq_sum = max(current_sum, max_seq_sum)
  return max_seq_sum

In [5]:
arr = [1, 4, 2, 10, 2,
       3, 1, 0, 20]
n = len(arr)
k = 4
print(max_sum(arr, n , k))

24

Problem: Find Kth Largest Element in an array

In [8]:
import random
def kth_largest_in_array(numbers, k):
    n = len(numbers)
    helper(numbers,0, n-1, n-k)
    return numbers[n-k]

def helper(numbers, start, end, index):
    if start == end:
      return

    pivot = random.randint(start, end)
    (numbers[start], numbers[pivot]) = (numbers[pivot], numbers[start])
    g = start
    r = start + 1
    while r <= end:
      if numbers[r] <= numbers[start]:
        g+=1
        (numbers[r], numbers[g]) = (numbers[g], numbers[r])
      r+=1
    (numbers[start], numbers[g]) = (numbers[g], numbers[start])

    if g == index:
      return numbers
    elif g < index:
      helper(numbers, g+1, end, index)
    else:
      helper(numbers, start, g-1, index)

In [9]:
numbers = [2, 8 , 9, 6, 7, 4, 1, 3]
k = 4
print(kth_largest_in_array(numbers, k))

6

In [23]:
class Employee:
    def __init__(self,Name,Age,Salary,Gender):
         self.Name = Name
         self.Age = Age
         self.Salary= Salary
         self.Gender = Gender

    def show_employee_details(self):
         print("Name of the employee is ",self.Name)
         print("Age of the employee is ",self.Age)
         print("Salary of the employee is ",self.Salary)
         print("gender of the employee is ",self.Gender)

In [24]:
e1 = Employee('Shubham',25,25000,'male')
e1. show_employee_details()

Name of the employee is  Shubham
Age of the employee is  25
Salary of the employee is  25000
gender of the employee is  male

# Linked List

Creation of Linked List

In [10]:
class Node:
  def __init__(self, dataval=None):
      self.dataval = dataval
      self.nextval = None

In [8]:
class SLinkedList:
  def __init__(self):
      self.headval = None

In [15]:
list1 =  SLinkedList()

list1.headval = Node('Mon')
e2 = Node("Tue")
e3 = Node("Wed")

#Link first node to second node
list1.headval.nextval = e2

#Link second node to third node
e2.nextval = e3

<__main__.SLinkedList object at 0x7fb4dba21630>

Traversing a Linked List

In [19]:
def listprint(self):
  printval = self.headval
  while printval is not None:
    print(printval.dataval)
    printval = printval.nextval

In [21]:
list = SLinkedList()
list.headval = Node('Mon')
e2 = Node('Tue')
e3 = Node('Wed')

list.headval.nextval = e2

e2.nextval = e3
listprint(list)

Mon
Tue
Wed

**Insertion in Linked List**

Insertion at the beginning

In [36]:
class SLinkedListN:
  def __init__(self):
      self.headval = None
  #Inserting at beginning
  def at_beginning(self, newdata):
    newnode = Node(newdata)
    newnode.nextval = self.headval
    self.headval = newnode

  #Inserting at End

  def at_end(self, newdata):
    newnode = Node(newdata)
    if self.headval is None:
       self.headval = newnode
       return
    last = self.headval
    while last.nextval:
      last = last.nextval
    last.nextval = newnode

  def in_between(self, middle_node, newdata):
    if middle_node is None:
      print("Mentioned Node is absent")
      return

    newnode = Node(newdata)
    newnode.nextval = middle_node.nextval
    middle_node.nextval = newnode


  def listprint(self):
    printval = self.headval
    while printval is not None:
      print(printval.dataval)
      printval = printval.nextval



list2 = SLinkedListN()
list2.headval = Node("Mon")
e2 = Node("Tue")
e3 = Node("Wed")

list2.headval.nextval = e2
e2.nextval = e3

list2.at_beginning("Sun")

list2.at_end("Thu")

list2.in_between(list2.headval.nextval.nextval, "Fri")
list2.listprint()

Sun
Mon
Tue
Fri
Wed
Thu